body{
    margin: 0;
    background: #EBEBEB;
}

header{
    height: /*136px;*/10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #FFFFFF;
}

@font-face {
    font-family: Nexal;
    src: url(./nexa/nexalight.ttf);
}

@font-face {
        font-family: NexaB;
        src: url(./nexa/nexabold.ttf);
}

#head1{
    background:#373737;
    height:67px;
    display: flex;
    
}


#head2{
    background: #474747;
    height: 70px;
}

#head1 nav{
   margin-left: 215px;
   width: 81px; 
   height: 100%;
   display: block;
   background-color: #F26C4F;
}
 
.g{
    margin-left: 25%;
    width: 81px;
    height: 100%;
}

.g_fig{
    position: absolute;
    font-size: 35px;
    margin-top: -70px;
    margin-left: 30px;
    font-family: 'NexaB';
 
}
.g_good{
    text-align: left;
    margin: 20px 0 0 29px;
    font-size: 19px;
    font-family: 'Nexal';
    
}

#head2 ul{
   list-style-type: none; /*убирает маркер/нумерацию*/
   margin: 0 0 0 190px;
   width: 420px; 
   height: 100%;
   display: flex;
}
@font-face {
    font-family: ArialMT;
    src: url(./AriaMT/02587_ARIALMT.ttf);
    }
li {
    padding-top: 7%;
    display: inline-block; /*отображает список в ряд*/
    flex: 1;
    text-transform: capitalize; /*делает заглавную первую букву*/
    text-align: center;
    font-family: ArialMT;
    font-size: 12px;
    height: 59%;
    cursor: pointer;
}

li::after{
    content: " ";
    border-right: 2px solid rgb(100%, 100%, 100%, 0.4);
    padding-right: 30px;
}

span{
    padding: 0 0 24px 0;
}

li:last-of-type::after{
    border-right-style: none;
}
span:hover{
   border-bottom: 3px solid #F26C4F;
}    
