body {
  margin: 0;
  background: #ebebeb;
}

header {
  height: /*136px;*/ 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
}

@font-face {
  font-family: Nexal;
  src: url(./nexa/nexalight.ttf);
}

@font-face {
  font-family: NexaB;
  src: url(./nexa/nexabold.ttf);
}

#head1 {
  background: #373737;
  height: 67px;
  display: flex;
}

#head1 div,#head2 div  {
position: relative;
width: 950px;
margin: 0 auto;
display:inline-flex;
flex-direction: row;
justify-content: flex-start;
}


#head1 nav {
  width: 81px;
  height: 100%;
  background-color: #f26c4f;
}
#head1 nav::after {
content:"g";
position: absolute;
font-family: "NexaB";
  cursor: default;
  font-size: 35px;
  top: 8%;
  left: 3%;
}

.g {
  margin-left: 25%;
  width: 81px;
  height: 100%;
}

.g_good {
  text-align: left;
  margin: 20px 0 0 29px;
  font-size: 19px;
  font-family: "Nexal";
}

#head2 {
  display:flex;
  background: #474747;
  height: 70px;
  align-items: center;
}

#head2 ul {
  list-style-type: none; /*убирает маркер/нумерацию*/
  padding:0;
  width: 50%;
}
@font-face {
  font-family: ArialMT;
  src: url(./AriaMT/02587_ARIALMT.ttf);
}

.top_list li {
  display: inline-block; /*отображает список в ряд*/
  text-transform: capitalize; /*делает заглавную первую букву*/
  text-align: center;
  font-family: ArialMT;
  font-size: 12px;
  cursor: pointer;
  padding-left: 5%;
 
}

.top_list li::after {
  content: " ";
  border-right: 2px solid rgb(100%, 100%, 100%, 0.4);
  padding-right: 30px;
}

span {
  padding: 0 0 24px 0;
}

.top_list li:last-of-type::after {
  border-right-style: none;
}
span:hover {
  border-bottom: 3px solid #f26c4f;
}
